<?xml version="1.0" encoding="UTF-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <urlMappings enabled="true">
      <add url="~/Default.aspx" mappedUrl="~/Handler.ashx" />
    </urlMappings>
    <compilation debug="true" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Handler.ashx" />              
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />       
    </system.webServer>
    <connectionStrings>
        <add name="vebasta" connectionString="Server=vebasta.mssql.somee.com;Database=vebasta;User ID=zaboy_SQLLogin_1;Password=lrauwywqjm" />
        <add name="vebasta_loc" connectionString="Server=10.128.217.75;Database=vebasta;User ID=sa;Password=QWopAS12" />
        <add name="vebastaConnectionString" connectionString="Data Source=10.128.217.75;Initial Catalog=vebasta;Persist Security Info=True;User ID=sa;Password=QWopAS12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
